@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
    color: #1F2937;
    max-width: none;
}

.prose th {
    padding: 1rem;
    background: #e2e8f0;
}
.prose td {
    padding: 1rem;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose strong,
.prose th {
    color: #1F2937;
}

.prose a {
    color: #3B82F6; 
}

.prose code {
    color: #FBBF24;
}

/* Styles pour le mode sombre */
.dark .prose {
    color: #FFFFFF;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6,
.dark .prose strong,
.dark .prose th {
    color: #FFFFFF; 
}

.dark .prose a {
    color: #60A5FA; 
}

.dark .prose pre {
    background: #334155;
}

.dark .prose code {
    color: #FBBF24;
}

.dark .prose th {
    background: #475569;
}

/* Styles personnalisés pour la barre de défilement */
aside::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
}

aside::-webkit-scrollbar-thumb {
    background-color: #FBBF24; /* Couleur de la poignée */
    border-radius: 4px; /* Coins arrondis de la poignée */
}

aside::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Couleur de la poignée au survol */
}

@media(max-width:768px) {
    .editor-container {
        flex-direction: column;
    }

    .prose h1 {
        font-size: clamp(1.5rem, 4vw + 1rem, 3.5rem);
    }

    .prose table, .prose thead, .prose tbody, .prose th, .prose td, .prose tr {
        display: block;
        width: 100%;
    }

    .prose thead tr {
        display: none; /* Masquer les en-têtes du tableau sur mobile */
    }

    .prose td {
        /* display: flex; */
        /* justify-content: space-between; */
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .prose td:nth-child(1) {
        font-weight: bold;
        color: #FBBF24;
    }

    .prose td::before {
        content: attr(data-label);
        font-weight: bold;
        flex-basis: 40%; /* Largeur réservée à la "colonne" des étiquettes */
    }
}
